<!DOCTYPE html>
<html lang="{{- site.Language.Locale -}}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{- .Title -}} | Global HS Code & Customs Duty Calculator</title>
  
  {{- partialCached "seo/json-ld.html" . .RelPermalink -}}
</head>
<body>
  <main>
    <article>
      <h1>{{- .Title -}}</h1>
      <div class="content">
        {{- .Content -}}
      </div>
      
      {{- partial "calculator.html" . -}}
    </article>
  </main>
</body>
</html>
